Source: zorin-exec-guard-app-db
Section: gnome
Priority: optional
Maintainer: Artyom Zorin <azorin@zoringroup.com>
Build-Depends: debhelper (>= 10.3)
Standards-Version: 4.1.3
Rules-Requires-Root: no


Package: zorin-exec-guard-app-db
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
         zorin-exec-guard
Description: Zorin Exec Guard - App Database
 This package adds a database of replacement apps for Zorin Exec Guard.
